.asw-menu-btn {
    background-color: #053aaa !important;
}
.asw-menu-header {
    background: #023092 !important;
    color: #fff;
}

.asw-footer {
    background: #053aaa !important;
    color: #fff;
}

.asw-adjust-font div[role=button] {
    background: #023092 !important;
    color: #fff;
}
