/* ==== PANEL DOCENTES ==== */

body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

.sidebar {
    width: 250px;
    background: #053aaa;
    color: white;
    height: 100vh;
    padding: 10px;
    position: fixed;
    z-index: 999;
    left: 0;
}

.sidebar h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 18px;
    position: relative;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.logo {
    position: absolute;
    bottom: 50px;
    left: 65%;
    transform: translateX(-47%);
    width: 100%;
    text-align: center;
}

.logo img {
    width: 150px;
    height: auto;
    display: block;
}

/* Submenú */

  /* Submenú oculto por defecto */
.submenu {
    position: absolute;
    top: 0;
    left: 105%;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    background-color: #053aaa;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    animation: slideIn 0.3s ease forwards;
    z-index: 100;
  }
  
  /* Botones del submenú */
  body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
  }

  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #053aaa;
    color: white;
  }

  .ver-btn {
    padding: 6px 12px;
    background-color: #053aaa;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .ver-btn:hover {
    background-color: #072f80;
  }

  .submenu {
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    background-color: #053aaa;
    border-radius: 6px;
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.3s ease forwards;
    z-index: 100;
  }

  .submenu-opcion {
    background-color: white;
    color: #053aaa;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
  }

  .submenu-opcion:hover {
    background-color: #e5e5e5;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translate(20px, -50%);
    }
    to {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }

  td {
    position: relative;
  }

  /* Sección de contenido dinámico */
  .contenido-dinamico {
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-height: 100px;
  }

  .contenido-dinamico h3 {
    margin-top: 0;
    color: #053aaa;
  }
  


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #053aaa;
    color: white;
    padding: 4px;
    text-align: center;
}

.main-content {
    margin-left: 260px;
    padding: 120px 20px 20px;
    width: calc(100% - 260px);
}

.users {
    margin-top: 30px;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
}

th {
    background: #053aaa;
    color: white;
}

.view {
    background: #053aaa;
    color: white;
}

.logout {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

td.dropdown-container {
    width: 200px;
    text-align: center;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: #004080;
    box-shadow: 0px 4px 6px rgba(51, 163, 228, 0.555);
    border-radius: 5px;
    min-width: 120px;
    padding: 5px 0;
    z-index: 1000;
}

.dropdown-menu li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #fdfdfd;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}

.dropdown-menu li a:hover {
    background: #004080;
    color: rgb(255, 255, 255);
}

.dropdown-container.active .dropdown-menu {
    display: block;
}
 /* ==== BOTON CERRAR ==== */

  .encabezado-planilla {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .encabezado-planilla h2 {
    margin: 0;
  }
  
  .cerrar-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cerrar-btn:hover {
    background-color: #c9302c;
  }


.calificaciones-section {
    margin-top: 30px;
    display: none;
    flex-direction: column;
}

.tabla-notas {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

.tabla-notas th {
    background-color: #053aaa;
    color: white;
    padding: 10px;
    text-align: center;
}

.tabla-notas td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

.tabla-notas td[contenteditable="true"] {
    background-color: #eef4ff;
    cursor: pointer;
}

.definitiva {
    font-weight: bold;
}

.definitiva.roja {
    background-color: #ffcccc;
    color: red;
}
  

 /* ==== BOLETINES ==== */


.boletin {
  border: 1px solid #000;
  padding: 20px;
}

.encabezado {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 10px;
}

.logo {
  width: 80px;
}

table {
  width: 90%;
  border-collapse: collapse;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
}


.asignatura {
  font-weight: bold;
  background-color: #053aaa;
}

.fortaleza {
  font-style: italic;
}

.firmas {
  margin-top: 30px;
  font-size: 12px;
}

.firmas div {
  margin: 5px 0;
}

.firma-linea {
  border-bottom: 1px solid #000;
  width: 200px;
  display: inline-block;
  margin-right: 40px;
}

.notas-finales {
  font-size: 13px;
  margin-top: 10px;
}

.leyenda {
  margin-top: 10px;
  font-size: 11px;
}

.periodo-boxes td {
  text-align: center;
  width: 40px;
}


 /* ==== HORARIOS ==== */


.encabezado {
  display: flex;
  background-color: #053aaa;
  color: #ffffff;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid #053aaa;
  padding: 10px;
}

.logo img {
  height: 90px;
}

.info {
  flex-grow: 1;
  text-align: center;
}

.info h2 {
  margin: 5px 0;
  font-size: 18px;
}

.info h3 {
  margin: 5px 0;
  font-size: 14px;
}

.tabla-datos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
}

.tabla-datos th, .tabla-datos td {
  background-color: white;
  border: 2px solid #053aaa;
  color: #000000;
  padding: 4px;
  font-size: 12px;
}

.resolucion {
  margin-top: 5px;
  font-size: 10px;
  text-align: left;
}

.titulo {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  color: #000000;
}

.grado {
  text-align: center;
  margin-top: 15px;
  background-color: #cce5ff;
  color: #000000;
  padding: 6px;
  font-size: 18px;
  border: 1px solid #000000;
}

.tabla-horario {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  text-align: center;
}

.tabla-horario th,
.tabla-horario td {
  border: 1px solid #000;
  padding: 8px;
  font-size: 14px;
}

.tabla-horario thead {
  background-color: #e6f0fa;
  font-weight: bold;
}

.tabla-horario tbody tr:nth-child(even):not(.descanso) {
  background-color: #f9f9f9;
}

.tabla-horario .descanso td {
  background-color: #cce5ff;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
}


 /* ==== CONFIGURACION - PERFIL  ==== */


 .perfil-container {
  max-width: 600px;
  margin: 40px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.perfil-container h2 {
  text-align: center;
  color: #053aaa;
  margin-bottom: 20px;
}

.perfil-box label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.perfil-box input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.perfil-actions {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.btn-guardar,
.btn-cerrar-sesion {
  padding: 10px 18px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-guardar {
  background-color: #053aaa;
  color: white;
}

.btn-guardar:hover {
  background-color: #072f80;
}

.btn-cerrar-sesion {
  background-color: #d9534f;
  color: white;
}

.btn-cerrar-sesion:hover {
  background-color: #c9302c;
}

.foto-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}


.foto-perfil img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #053aaa;
  margin-bottom: 30px;
}

.descargas {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.descargas a {
  color: #053aaa;
  text-decoration: none;
}

.descargas a:hover {
  text-decoration: underline;
}
 

 /* ==== CIRCULARES  ==== */


.circulares-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.circulares-container h2 {
  text-align: center;
  color: #053aaa;
  margin-bottom: 30px;
}

.circular {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.circular h3 {
  color: #053aaa;
  margin-top: 0;
}

.circular p {
  margin: 8px 0;
}

.btn-descargar {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background-color: #053aaa;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.btn-descargar:hover {
  background-color: #072f80;
}
